<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Prospectgenai</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/css/mdb.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-dark ">
    <a class="navbar-brand" href="/">
        <img src="/img/ProspectGen_AI01_white.png" height="30" class="d-inline-block align-top" alt="">
    </a>
    <a href="/" class="">Home</a>
</nav>
<div class="flex-center flex-column">

    <div id="loader" class="loader invisible center-block"></div>
    <form id="tokenForm" method="post">
        <div class="md-form mt-3">
            <label class="active" for="companyName">Company</label>
            <input type="text" id="companyName" className="form-control" required>

        </div>
        <div class="md-form mt-3">
            <label class="active" for="token">Token</label>
            <input type="text" id="token" className="form-control" required>
        </div>
        <button id="addToken" class="btn btn-success">Add Token</button>
    </form>
</div>
<div id="tableDiv" class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <table class="table">
            <thead class="white-text">
            <tr>
                <th scope="col">Company</th>
                <th scope="col">Token</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < itms.length; i++) { %>
            <tr>
                <th scope="row"><%= itms[i].company %></th>
                <td><%= itms[i].token %></td>
                <td><a data-tid="<%= i %>" href="/deleteToken/<%= i %>" class="btn btn-sm btn-danger">Delete</a></td>
                <td><a data-toggle="modal" data-target="#emailConfig"><i class="fa fa-bell fa-2x cyan-text pr-3" aria-hidden="true"></i></a></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
    <div class="col-2"></div>
</div>
<div style="height: 30vh">
</div>

<div class="modal fade" id="emailConfig" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog  modal-notify modal-success "  role="document" >
    <!--Content-->
    <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
            <p class="heading lead font-weight-bold">Email Configuration</p>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="white-text">×</span>
            </button>
        </div>

        <!--Body-->
        <div class="modal-body">
            <div class="text-center">
                <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
            </div>

            <form class="needs-validation" novalidate>
            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input type="text" id="inputIconEx1" class="form-control" value="matt@prospectgenai.com" required>
                <label for="inputIconEx1">E-mail address</label>
            </div>
            </form>
            <p class="font-weight-bold" id="addEmail"><i class="fa fa-envelope-o cyan-text" aria-hidden="true"></i>&nbsp;Add Another Email </p>
        </div>

        <!--Footer-->
        <div class="modal-footer">
            <a type="button" id="sendEmail" class="btn btn-success waves-effect waves-light">Send now
                <i class="fa fa-diamond ml-1"></i>
            </a>
            <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal">Cancel</a>
        </div>
    </div>
    <!--/.Content-->
    </div>
</div>

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                    <h2>Successfully Sent</h2>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small ">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://prospectgenai.com/"> prospectgenai.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/js/mdb.min.js"></script>



<script>
    $(document).ready(function () {
        var inputCount = 1;
        var currentToken = null;
        $("#addToken").click(function (e) {

            $('table > tbody').append('<tr><th scope="row">'+$('#companyName').val()+'</th><td>'+$('#token').val()+'</td></tr>');
            $("#loader").removeClass('invisible');
            e.preventDefault();

            $.ajax({
                url : '/addToken',
                data: {
                    company : $('#companyName').val(),
                    token : $('#token').val()
                },
                method: 'post',
                datatype: 'json',
                success: function (data) {
                    $("#loader").addClass('invisible');
                    document.querySelector('form').reset();
                    window.location = '/add';

                },
                error : function (xhr, ajaxOptions, thrownError) {

                    if(xhr.status!=200) {
                        alert('Something went wrong with adding token, pleas refresh the page and try again');
                    }
                    document.querySelector('form').reset();
                    $("#loader").addClass('invisible');
                }
            });
        });

        $(".fa-bell").click(function (e) {
            currentToken = $(this).closest('tr').find('td')[0].innerHTML;
            console.log(currentToken);
        });

        $("#addEmail").click(function (e) {
            inputCount++;
            console.log('fired');
            var newInputFieldHtml = `<div class="md-form additionalEmails">
                <i class="fa fa-envelope prefix"></i>
                <input type="text"  id="inputIconEx`+inputCount+`" class="form-control" required>
                <label for="inputIconEx`+inputCount+`">E-mail address</label>
            </div>`;
            $(".needs-validation").append(newInputFieldHtml);
        });

        $("#sendEmail").click(function (e) {

            var doValidation = true;


            if(doValidation){

                var emailAddressList = [];
                var nodes= document.querySelectorAll(".form-control");
                for(i=0;i<nodes.length;i++){
                    emailAddressList.push(nodes[i].value)
                }
                console.log(emailAddressList);
                $(".additionalEmails").remove();
                document.querySelector('[data-dismiss="modal"]').click();
                $("#loader").removeClass('invisible');

                $.ajax({
                    url: '/sendEmail',
                    method: 'post',
                    dataType: 'json',
                    data: {
                        emailAddressList : emailAddressList,
                        token: currentToken
                    },
                    success: function (data) {
                        $("#loader").addClass('invisible');
                        $('#successModal').modal('show');
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        if(xhr.status!=200) {
                            $("#loader").addClass('invisible');
                            alert('Something went wrong with Sending Email, pleas refresh the page and try again');
                        }
                    }
                });


                currentToken = null;
                inputCount =1;


            }

        });
    });
</script>
<style>
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    #tableDiv{
        margin-top: 40px;
    }
</style>
</body>
</html>