<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Woodpecker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/css/mdb.min.css" rel="stylesheet">


</head>
<body>
<nav class="navbar navbar-dark primary-color">
    <a class="navbar-brand" href="#">
        <!--<img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" class="d-inline-block align-top" alt="">-->
        <img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/55e71aa290336027d7707900/images/5b3e0e1e2c7d3a099f2e3433/logo_woodpecker2.png" height="30" class="d-inline-block align-top" alt="">
        Woodpecker
    </a>
    <a href="add"><button type="button" class="btn purple btn-lg">Add Token</button></a>
</nav>
<div style="height: 100vh">
    <div class="flex-center flex-column">
        <h1 class="animated fadeIn mb-4">Woodpeacker Data Report</h1>

        <h5 class="animated fadeIn mb-3">Thank you for using our product. We're glad you're with us.</h5>

        <p class="animated fadeIn text-muted">Woodpeacker Team</p>


    </div>
</div>
<div id="tableDiv" class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <table class="table">
            <thead class="orange white-text">
            <tr>
                <th scope="col">Company</th>
                <th scope="col">Campaign</th>
                <th scope="col">Prospects</th>
                <th scope="col">Email Deliverd</th>
                <th scope="col">Opened</th>
                <th scope="col">Responses</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="col-2"></div>
</div>
<div style="height: 10vh">
</div>

<!-- Footer -->
<footer class="page-footer font-small teal">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://woodpecker.co/"> woodpecker.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/js/mdb.min.js"></script>



<script>
    $(document).ready(function () {


        lazyLoad();
        function lazyLoad(next) {
            $.ajax({
                url : '/search',
                data: {
                    next : next
                },
                method: 'post',
                datatype: 'json',
                success: function (data) {
                    let tableDom = '';
                    console.log(data.rowData.length > 0);
                    if(true){
                        for(i=0;i<data.rowData.length;i++){
                            tableDom += `<tr>
                                        <th scope="row">${data.rowData[i].company}</th>
                                        <td>${data.rowData[i].campaign}</td>
                                        <td>${data.rowData[i].prospects}</td>
                                        <td>${data.rowData[i].delivered}</td>
                                        <td>${data.rowData[i].opened}</td>
                                        <td>${data.rowData[i].responses}</td>
                                        </tr>`
                        }
                        $("table").append(tableDom)
                    }

                    if(data.next != undefined){
                        lazyLoad(data.next);
                    }


                },
                error : function (xhr, ajaxOptions, thrownError) {

                    if(xhr.status!=200) {
                        alert('Something went wrong');
                    }
                }
            });
        }
    });


</script>
<style>
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
</body>
</html>