a {
    color: #020843 !important;
}
#addButton {
    background-color: #020843 !important;
}
body{
    font-family: 'Poppins', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
