a {
    color: #fff !important;
}

body{
    font-family: 'Poppins', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

footer ,thead, nav{
    background-color: #020843 !important;
}
